*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100wh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #020024;
  background: linear-gradient(rgba(9, 3, 20, 0.947));
}

.container{
  max-width: 90%;
  width: 450px;
}

h1{
  text-align: center;
  color: #fff;
  opacity: 0.7;
  letter-spacing: 2px;
  line-height: 1.2;
  text-transform: uppercase;
}

.password-display{
  position: relative;
  background-color: rgb(56, 55, 55);
  margin: 1rem 0;
  border-radius: 1rem;
  border-bottom: 0.3rem solid rgb(142, 136, 136);
}

.display{
  width: 100%;
  color: rgb(133, 133, 5);
  background-color: transparent;
  padding: 0.5rem 1.1rem 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 1px;
  padding-right: 3.25px;
  border: none;
}

.display::placeholder{
  position: absolute;
  color: rgb(133, 133, 5);
  opacity: 0.65px;
  text-transform: uppercase;
  top: 50%;
  left: 1.5rem;
  font-size: 1.5rem;
  line-height: 30px;
  transform: translateY(-50%);
}

.password-display button{
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
}

.fa-regular{
  background-color: rgb(56, 55, 55);
  color: #fff;
}

.input-container{
  background-color:  rgb(56, 55, 55);
  width: 100%;
  border-radius: 1rem;
  padding: 2rem;
  border-bottom: 0.3rem solid rgb(142, 136, 136); 
}

.length-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.length-container p:nth-child(1){
  color: #fff;
  font-size: 1.5rem;
}

.length-container p:nth-child(2){
  color: rgb(158, 158, 34);
  font-size: 1.5rem;
}

.strength-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.7rem;
  margin-bottom: 2rem;
}

.strength-box p{
  color: #fff;
  font-size: 1.5rem;
}

.circle{
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}

.pass-btn{
  width: 100%;
  background-color: rgba(9, 3, 20, 0.947);
  padding: 1rem 0;
  text-align: center;
  border-radius: 0.75rem;
  border: none;
  border-bottom: 0.3rem solid rgb(140, 136, 142);
  color: #fff;
  opacity: 0.7;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}

.check{
    display: flex;
    align-items: center;
    gap: 0 1rem;
    margin: 1rem 0;
}

.check input{
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 0.3rem;
  cursor: pointer;
  border: 1px solid rgb(158, 196, 144);
  position: relative;
}

.check input:checked{
  background-color: rgb(158, 196, 144);
}

.check input:checked::before{
  content: '🗸';
  position: absolute;
  color: #01010e;
  left: 10%;
  transform: translateY(-10%);
  font-weight: 900;
  font-size: 1.1rem;
}

.check label{
  color: #fff;
  letter-spacing: 0.75px;
  font-size: 1.25rem;
}

.slider{
  appearance: none;
  border: none;
  width: 100%;
  height: 0.7rem;
  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  background-color: rgba(29, 20, 44, 0.947);
  background-image: linear-gradient(rgb(158, 196, 144), rgb(158, 196, 144));
  background-repeat: no-repeat;

  cursor: pointer;
}

.slider::-webkit-slider-thumb{
  appearance: none;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: rgb(158, 196, 144);
  box-shadow: 0px, 0px, 20px, 0px, rgba(255, 229, 61, 0.9);
  transition: all 100ms ease-in;
  cursor: pointer;
  margin-top: -2px;
}

.slider:hover{
  border: 1.5px solid rgba(234, 233, 190, 0.947);
}

.slider::-webkit-slider-thumb:hover{
  outline: 2px solid rgba(234, 233, 190, 0.947);
  background-color: #020024;
  box-shadow: 0px 0px 25px 5px rgba(234, 232, 168, 0.947);
}